<div class="lists">
  <h2>Shopping lists</h2>

  <div *ngFor="let list of shoppingLists" class="shoppingList">
    {{ list.name }} ({{ list.products.length }})
    <button (click)="removeList(list.id)">Remove</button>
  </div>

  <label>
    Name:
    <input type="text" [formControl]="listName" />
  </label>

  <button (click)="addList(this.listName.value)">+ Add new</button>
</div>
<div class="tiles">
  <product-tile
    *ngFor="let product of productList"
    [attr.product-id]="product.id"
    [attr.product-name]="product.name"
    [attr.price]="product.price"
    [attr.price-per-unit]="product.pricePerUnit"
    [attr.image-src]="product.imgSrc"
    [attr.lists]="shoppingListsBinded"
    (addList)="addListStencil($event)"
    (toggleSelection)="toggleSelection($event)"
  >
  </product-tile>
</div>
